
html, body {
  width: 100%;
  height: 100%; 
}

body { 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100%;
}

.canvasWrapper {
  position: relative;
  margin: 0px 5px 0px 5px;
  background-color: var(--game-background-color);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 400px;
  margin: 30px 5px 0px 5px;
  padding: 0;
}

.btn-success {
  width: 300px;
}

form p {
  margin: 10px 0 0 0;
  white-space: pre-line;
}

@media screen and (min-width: 1400px) {
  canvas, .canvasWrapper {
    width: 1000px;
    height: 1000px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  canvas, .canvasWrapper {
    width: 900px;
    height: 900px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  canvas, .canvasWrapper {
    width: 800px;
    height: 800px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  canvas, .canvasWrapper {
    width: 700px;
    height: 700px;
  }
}

@media screen and (max-width: 800px) and (min-width: 650px) {
  canvas, .canvasWrapper {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 650px) and (min-width: 600px){
  canvas, .canvasWrapper {
    width: 550px;
    height: 550px;
  }
}

@media screen and (max-width: 600px){
  canvas, .canvasWrapper {
    width: 450px;
    height: 450px;
  }
}


/* BootStrap */
.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 20px 85px 20px;
  text-align: center !important;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}